<div ng-cloak>
    <!--                        HEADER-->
    <custom-header></custom-header>
    <!--HEADER                        -->
    <div class='container-fluid' >
        <div class="row">
            <!--NAVIGATION-->
            <div>
                <custom-navigation></custom-navigation>
            </div>
            <div class="col-md-2" style="margin: 5px; border:1px solid black;">                
                <h1>Examples of tasks</h1>
                <ul>
                    <li>Learn a language....</li>
                    <li>Improve some skill .....</li>
                    <li>Get a job ......</li>
                    <li>Save money for ......</li>
                    <li>Find a wife ......</li>
                    <li>etc....</li>
                </ul></div>

            <div class="col-md-6" id="taskEditMenu" ng-show="ui.task">
                <form class="horisontal" ng-submit="editTask(task)" name="goalForm">
                    <fieldset>
                        <h1> Task for a {{task.type}}</h1>
                        <div class="row" ng-hide="true"> <span class="col-md-3">type</span>
                            <input ng-readonly="true" class="col-md-6" type="text" ng-model="task.type">
                        </div>  
                        <div class="row" ng-hide="true"> <span class="col-md-3">user</span>
                            <input ng-readonly="true" class="col-md-6" type="text" ng-model="task.userId">
                        </div>  
                        <div class="row" ng-hide="true" ng-readonly='false'> <span class="col-md-3" >ID: </span>
                            <input ng-readonly="true" class="col-md-6" type="text" ng-model="task.id" >
                        </div>
                        <div class="row" title='Name'><span class="col-md-3" >Name*</span>
                            <input  class="col-md-6" type="text" ng-model="task.name" name="Name" required>
                        </div>
                        <div class="error row" ng-show="goalForm.Name.$error.required && goalForm.Name.$dirty">
                            <span>Please enter a value</span>
                        </div>

                        <div class="row" title='How will you reward yourself for completion'> <span class="col-md-3" >Reward*</span>
                            <input class="col-md-6" type="text" ng-model="task.award" required>
                        </div>
                        <div class="row" ng-show="task.type == 'week'" title='How many hours will it take to complete the task?'> <span class="col-md-3">Hours to Complete?*</span>
                            <input type='number' class="col-md-6" min="0" max='20' ng-model='task.cost' />
                        </div>
                        <!--                        <div class="row"> <span class="col-md-3">Penalty</span>
                                                    <input class="col-md-6" type="text" ng-model="task.penalty">
                                                </div>-->
                        <div class="row"ng-hide="task.type != 'week'"> <span class="col-md-3">Week</span>
                            <select ng-model="task.week" ng-options="week as week for week in weeks" class="col-md-6">
                                <option>(select)</option>
                            </select>
                        </div>
                        <div class="row" ng-hide="task.type == 'year'" > <span class="col-md-3">Month</span>
                            <select ng-model="task.month" ng-options="month.id as month.value for month in months" class="col-md-6">
                                <option>---</option>
                            </select>
                        </div >
                        <div class="row"> <span class="col-md-3">year</span>
                            <select ng-model="task.year"  ng-options="year as year for year in years" class="col-md-6" >
                                <option>---</option>
                            </select>
                        </div>
                        <div class="row"> <span class="col-md-3">Active</span>
                            <input type="checkbox" ng-model="task.active" class='col-md-1'>
                        </div>
                        <div class="row" > <span class="col-md-3">Description</span>
                            <textarea class="col-md-6" type="textarea" ng-model="task.description" ></textarea>
                        </div>
                        <div class="row" ng-hide="task.type == 'year'" title='Select parent goal for this task'> <span class="col-md-3">Parent Goal</span>
                            <select class="col-md-6" ng-model="task.parent_goal" ng-options="goal.id as goal.name for goal in parentGoals">
                                <option value="1">default</option>
                            </select>
                        </div>
                        <div class="row" ng-show="!task.new"> <span class="col-md-3">Completed</span>
                            <input type="checkbox" ng-model="task.done" class='col-md-1'>
                        </div>
                        <!--                        <div class="row"> <span class="col-md-3">Picture</span>
                                                    <input class="col-md-6" type="text" ng-model="task.picture">
                                                </div>-->
                        <div ng-hide="true" class="row" title='If you want you can specify your friend who will look after completion of the task'> <span   class="col-md-3" ng-model="user.friends.summary.total.count" title="If you have friends using the app, they will appear in a dropdown box">
                                Who checks completion?  (Total Friends):{{user.friends.summary.total_count}}</span>
                            <select class="col-md-6" ng-options"user.name for user in user.friends.data track by user.id">
                                    <option value="1">ME</option>
                            </select>
                        </div>
                        <div class="row" title='category'> <span   class="col-md-3" >
                                Category  </span>
                            <select class="col-md-6" ng-model="task.category">
                                <option value="Default">Default</option>
                                <option value="Family">Family</option>
                                <option value="Career">Career</option>
                                <option value="Sport">Sport</option>
                                <option value="Health">Health</option>
                            </select>
                        </div>
                        <button ng-show="task.new" type="submit" class="btn btn-primary btn-block" ng-disabled="goalForm.$invalid">Add</button>
                        <button ng-hide="task.new" type="submit" class="btn btn-primary btn-block" ng-disabled="goalForm.$invalid">Update</button>
                    </fieldset> 
                </form>
                <button  class="btn btn-danger btn-block" ng-click="deleteTask(task)">Delete</button>
            </div>
            <task-list class="col-md-3" source="goals" type="{{task.type}}" style="opacity: 0.5"></task-list>
        </div>
    </div>
</div>
