<div id="new_main" >
    <div class='container-fluid'>
        <h2>Tasks for this week: {{getTotalweekGoals()}}</h2>
        <div class='row'>
        <span class="col-md-3">Done</span>
        <span class="col-md-4">Name</span>
        <span class="col-md-2">Working on</span>
        </div>
        
        <ul class="unstyled" >
            <li ng-repeat="weekGoal in weekGoals1" class='row' style='margin: -20px 0 0 0;'>
                    <input type="checkbox" ng-model="weekGoal.done" class='col-md-1'>
                <div style="padding: 10px 30px; border: 1px solid black" class="bg-warning task col-md-3" ng-click="click(weekGoal._id.$oid)" data-id='{{weekGoal._id.$oid}}'>
                    <span class="done-{{weekGoal.done}}" >{{weekGoal.name}} </span> 
                </div>
                    <input type="checkbox" ng-model="weekGoal.active" class='col-md-2'>
            </li>
        </ul>
            <button style="width: 300px; height: 50px;" class="btn bg-primary btn-large" ng-click="openAddWeekDialog()"> <i class="icon-plus"></i>Add</button>

        <button class="btn-large" ng-click="ClearCompleted()"><i class="icon-trash"></i>Clear</button>
        <br><br><a ng-click='logout()' href='#'>Logout</a>
        <br><br><a href='#home'>back home</a>
    </div>

</div>

<div style='border: 1px solid black; width: 1000px;'>
    <h1>Goals for the year</h1>
    <div style=' margin-top: 20px;'>
        <div style='display: inline; float: right; border: 1px solid black; '>
            <div><b>YEAR</b></div>
            <div style="background-color: #fbeed5; width: 250px; display: inline-block;">
                <select  ng-model='yearGoal' ng-click="yearGoalCompleted(yearGoal[0].id)" ng-options='yearGoal as yearGoal.name for yearGoal in yearGoals' multiple>
                </select>
            </div>
            <div style="height: 150px;background: greenyellow; width: 250px;">
                <span > Name: {{yearGoal[0].name}}</span><br>
                <span>Year: {{yearGoal[0].year}}</span><br>
                <span>Award:{{yearGoal[0].award}}</span><br>
                <span>Penalty:{{yearGoal[0].penalty}}</span><br>
            </div>
            <div style="">
                <form style=" background-color: #fbb450">
                    <button class="btn" ng-click="addYearGoal()"> <i class="icon-plus"></i>Add Year Goal</button><br>
                    <label>Name:</label> <input type="text"  ng-model="yearGoal.name"><br>
                    <label>Award:</label> <input type="text"  ng-model="yearGoal.award"><br>
                    <label>Penalty:</label> <input type="text"  ng-model="yearGoal.penalty">
                </form>
            </div>
        </div>
        <div ng-show="yearGoal.length > 0" style=' display:inline; float: right; border: 1px solid black; '>
            <div><b>Month</b></div>
            <div style="background-color: #fbeed5; width: 300px;  ">
                <select ng-show="yearGoal.length > 0" ng-model='monthGoal' ng-options='monthGoal as monthGoal.name for monthGoal in monthGoals | filter: {year: yearGoal[0].year}' multiple>
                </select>
            </div>
            <div style="height: 150px; background: greenyellow; width: 250px;">
                <span > Name: {{monthGoal[0].name}}</span><br>
                <span>Year: {{monthGoal[0].year}}</span><br>
                <span>Month: {{monthGoal[0].month}}</span><br>
                <span>Award:{{monthGoal[0].award}}</span><br>
                <span>Penalty:{{monthGoal[0].penalty}}</span><br>
            </div>
            <div >
                <form style=" background-color: #fbb450">
                    <button class="btn" ng-click="addMonthGoal()"> <i class="icon-plus"></i>Add Month Goal</button><br>
                    <label>Name:</label> <input type="text"  ng-model="monthGoal.name"><br>
                    <label>Award:</label> <input type="text"  ng-model="monthGoal.award"><br>
                    <label>Penalty:</label> <input type="text"  ng-model="monthGoal.penalty">
                </form>
            </div>
        </div>
        <div ng-show="monthGoal.length > 0" style='display: inline; float: right; border: 1px solid black;'>
            <div><b>Week</b></div>
            <div style="background-color: #fbeed5; width: 250px;">
                <select  ng-model='weekGoal' ng-options='weekGoal as weekGoal.name for weekGoal in weekGoals | filter: {month: monthGoal[0].month}' multiple>
                </select>
            </div>
            <div style="background: greenyellow; width: 250px; height: 150px">
                <span > Name: {{weekGoal[0].name}}</span><br>
                <span>Year: {{weekGoal[0].year}}</span><br>
                <span>Month: {{weekGoal[0].month}}</span><br>
                <span>Week: {{weekGoal[0].week}}</span><br>
                <span>Award:{{weekGoal[0].award}}</span><br>
                <span>Penalty:{{weekGoal[0].penalty}}</span><br>
            </div>
            <div style="display:inline;">
                <form style="display:inline-block; background-color: #fbb450">
                    <button class="btn" ng-click="addWeekGoal()"> <i class="icon-plus"></i>Add Week Goal</button><br>
                    <label>Name:</label> <input type="text"  ng-model="weekGoal.name"><br>
                    <label>Award:</label> <input type="text"  ng-model="weekGoal.award"><br>
                    <label>Penalty:</label> <input type="text"  ng-model="weekGoal.penalty">
                </form>
            </div>
        </div>
    </div>
</div>



<table  style='width: 400px; float: right;'>
    <tr><th>ID</th><th>Name</th><th>Year</th>    </tr>
    <tr ng-repeat='yearGoal in yearGoals' ><td style='border: 1px solid black; background-color: grey; width: 2px; padding: 5px;'>{{yearGoal.id}}.</td>
        <td style='border: 1px solid black; background-color: grey; padding: 5px;'> {{yearGoal.name}}</td>
        <td style='border: 1px solid black; background-color: grey; padding: 5px;'> {{yearGoal.year}}</td>
    </tr>
</table>
<table  style='width: 400px; float: right;'>
    <tr><th>ID</th><th>Name</th><th>Month</th><th>Year</th>    </tr>
    <tr ng-model='monthGoal' ng-repeat='monthGoal in monthGoals' ng-click='test(monthGoal.name)'>
        <td style='border: 1px solid black; background-color: gainsboro; padding: 5px;'>{{monthGoal.id}}</td>
        <td style='border: 1px solid black; background-color: gainsboro; padding: 5px;'>{{monthGoal.name}}</td>
        <td style='border: 1px solid black; background-color: gainsboro; padding: 5px;'>{{monthGoal.month}}</td>
        <td style='border: 1px solid black; background-color: gainsboro; padding: 5px;'>{{monthGoal.year}}</td>
    </tr>
</table>
<table  style='width: 400px; float: right;'>
    <tr><th>ID</th><th>Name</th><th>Week</th><th>Month</th><th>Year</th>    </tr>
    <tr ng-model='weekGoal' ng-repeat='weekGoal in weekGoals' >
        <td style='border: 1px solid black; background-color: gainsboro; padding: 5px;'>{{weekGoal.id}}</td>
        <td style='border: 1px solid black; background-color: gainsboro; padding: 5px;'>{{weekGoal.name}}</td>
        <td style='border: 1px solid black; background-color: gainsboro; padding: 5px;'>{{weekGoal.week}}</td>
        <td style='border: 1px solid black; background-color: gainsboro; padding: 5px;'>{{weekGoal.month}}</td>
        <td style='border: 1px solid black; background-color: gainsboro; padding: 5px;'>{{weekGoal.year}}</td>
    </tr>
</table>
