<div ng-cloak>
    <!--                        HEADER-->
    <custom-header></custom-header>
    <!--HEADER                        -->
    <div class="row">
        <!--NAVIGATION-->
        <custom-navigation></custom-navigation>
        <h1>Feedback page</h1>
        <div>
            <button class="btn btn-primary" ng-click="sendChallenge(null, 'hi')">Recommend to your friend</button>
        </div>

        <table class="table table-striped" style="width: 800px; border: 2px solid black">
            <thead>
                <tr><th>#</th><th>LIKE</th><th>Function</th><th>Detailed description</th></tr>
            </thead>
            <tbody>
                <tr ng-repeat="suggestion in suggestions">
                    <td>{{$index}}</td>
                    <td>
            <facebook-like
                 data-href="https://local.host.com/#/feedback/{{suggestion._id.$oid}}">
            </facebook-like>
                    </td>
                    <td>{{suggestion.title}}</td>
                    <td>{{suggestion.description}}</td>
                </tr>
            </tbody>
        </table>

        <div>
            <span> <h1>       Leave your suggestions and comments below</h1></span>
            <div id="facebook-like" facebook-like
                 data-href="https://local.host.com/#/feedback">
            </div>
            <div id="facebook-comments" facebook-comments
                 page-href="https://local.host.com/#/feedback"
                 numposts="10"
                 colorscheme="light">
            </div>

        </div>

    </div>

</div>