<div ng-cloak>
    <!--                        HEADER-->
    <custom-header></custom-header>
    <h1> <ao-login></ao-login></h1>
    <!--HEADER                        -->
    <div class="row">
        <!--NAVIGATION-->
        <custom-navigation></custom-navigation>
        <div class='col-md-8'> 
            <table class=' table table-striped'>
                <thead>
                    <tr>
                        <th></th><th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr><td>Name: </td><td>{{user.name}}</td></tr>
                    <tr><td>Score: </td><td>{{user.score}}</td></tr>
                    <tr><td>Background picture: </td><td>Allows you to change default background picture</td></tr>
                    <tr><td>Interests: </td><td>In future will match people and info by interests</td></tr>
                    <tr><td>Default privacy settings: </td><td>
                            <input type="radio" name="permissions" value="public" ng-model="permissions" />Public
                            <br><input type="radio" name="permissions" value="private" ng-model="permissions" />Private
                        </td></tr>

                </tbody>
            </table>
            <div>
                <button class="btn btn-primary" ng-click="sendChallenge(null, 'hi')">Recommend to your friend</button>
            </div>

            <div style="margin: 10px">
                <div class="btn bg-primary" ng-click="logout()">Logout</div>
            </div>
            <!--            <div style="margin: 10px;">
                            <div class="btn bg-primary" style="color:red" ng-click="delete_account()">Delete Account</div>
                        </div>-->
        </div>
    </div>
</div>
