<div>
<!--    <ul>
        <li class="list-group-item" ng-repeat="Goal in $parent.userData.goals.weekGoals" >{{Goal}}</li>
    </ul>-->
    '{{type}}'<br><div class="panel panel-default col-md-4" style="margin: 0">
        <div class="panel-heading bg-info">
            <h2 class="panel-title">
                <a data-toggle="collapse" data-parent="#accordion" data-target="#collapse{{type}}">Tasks for this {{type}}:
                    {{periodNumber}}
                </a>
            </h2>
        </div>
        <div id="collapse{{type}}" class="panel-collapse in">
            <div class="panel-body row" >
                <div class="col-md-4">
                    <span>Tasks for {{type}} # </span>
                    <input type='number' size='4' min="0" max='53' ng-model='currentPeriod()'/>
                </div>
                <div class="col-md-4">
                    <span>Total Load: {{calculateTotalCosts()}}</span>  
                </div>
                <div class="col-md-4"> 
                    <span>Earned:         {{calculateTotalCostsActual()}}</span>
                </div>
            </div>
            <div class='row'>
                <span class="col-md-8">Name</span>
                <span class="col-md-2">Working on</span>
                <span class="col-md-2">Done</span>
            </div>
            <div>
----->
    <ul>
        <li class="list-group-item" ng-repeat="Goal in $parent.userData.goals.weekGoals" >{{Goal}}</li>
    </ul>
<!--<ul class="unstyled list-group">
                    <li class="list-group-item" ng-repeat="Goal in {{values}}| filter : { {{type}} : currentPeriod}:true" >
        <li class="list-group-item" ng-repeat="Goal in $parent.userData.goals.weekGoals" >{{Goal}}</li>
                    <li class="list-group-item" ng-repeat="Goal in $parent.userData.goals.weekGoals" >
                        <pre> {{Goal}}</pre>  <div class="row">
                            <div class="bg-warning task col-md-8 
                                 working-{{Goal.active}}
                                 done-{{Goal.done}}"
                                 ng-click="OpenExistingGoal(Goal.id)" data-id='{{Goal.id}}'>
                                <span class="" >{{Goal.name}}</span> 
                            </div>
                            <input type="checkbox" ng-model="Goal.active" ng-click="CurrentlyWorking()" class='col-md-2'>
                            <input type="checkbox" ng-model="Goal.done" class='col-md-2'>
                        </div>
                    </li>
                </ul> <------>
                <div class="row">  
                    <button class="col-md-12 btn bg-primary" style=" height: 50px;" ng-click="openAddGoalDialog()">
                        <i class="icon-plus"></i>Add</button>
                </div>
            </div>
        </div>
    </div>
    <!-- ----------------------------WEEK------------------------------>
</div>