<!DOCTYPE html>
<html lang='en' ng-app="better-you">
    <head>
        <title>Service to Improve your life</title>
        <!--  JQUERY-->
<!--        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
        <script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.11.0/jquery-ui.min.js"></script>
        <link rel="stylesheet" href="//ajax.googleapis.com/ajax/libs/jqueryui/1.11.0/themes/smoothness/jquery-ui.css" />-->
        <script src="js/external/jquery/jquery.min.js"></script>
        <script src="js/external/jquery/jquery-ui.min.js"></script>
        <link rel="stylesheet" href="js/external/jquery/jquery-ui.css" />
        <!--ANGULARJS-->
        <script src="js/external/angularjs/angular.min.js"></script>
        <script src="js/external/angularjs/angular-resource.min.js"></script>
        <script src="/js/external/angularjs/ui-bootstrap-tpls-0.2.0.js"></script>
        <script src="js/external/angularjs/angular-cookies.js"></script>
        <script src="js/external/angularjs/angular-route.min.js"></script>
        

        <!--BOOTSTRAP-->
<!--        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
        <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>-->

                <link rel="stylesheet" href="js/external/bootstrap/bootstrap.min.css">
        <link rel="stylesheet" href="js/external/bootstrap//bootstrap-theme.min.css">
        <script src="js/external/bootstrap//bootstrap.min.js"></script>

        <!--CUSTOM RESOURCES                 -->
        <link rel="stylesheet" href="css/general-css.css">
        <script type="text/javascript" src="modules/slider/slider.js"></script>	
        <script type="text/javascript" src="js/ngFacebook.js"></script>	
<!--    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/underscore.js/1.4.4/underscore-min.js"></script>-->
        <script type="text/javascript" src="//connect.facebook.net/en_US/sdk.js"></script>	
        <script src="main.js"></script>

        <!--        CONTROLLERS-->
        <script src="controllers.js"></script>
        <script src="modules/general/general-controller.js"></script>
        <script src="modules/habits/habits-controller.js"></script>
        <script src="modules/goals/goals-controller.js"></script>
        <script src="modules/challenges/challenges-controller.js"></script>
        <script src="services.js"></script>
        <script src="constants.js"></script>
        <script src="templates/directives-controller.js"></script>
        <script src="js/loading-bar.min.js"></script>
        <script src="js/ngDialog.min.js"></script>
        <link rel="stylesheet" href="css/ngDialog/ngDialog.min.css" />
        <link rel="stylesheet" href="css/ngDialog/ngDialog-theme-default.min.css" />

        <script src="//connect.facebook.net/en_US/sdk.js"></script>

        <!--        INITIAL BOOTSTRAP FOR A PAGE-->
        <meta name="viewport" content="width=device-width, initial-scale=1">

    </head>
    <body>
        <div id="fb-root"></div>
                <script src="./facebook-init.js"></script>
        <div class="container-fluid">
            <div class="row">
                <!--                        HEADER-->
                <div class="topbar">
                    <div class="fill">
                        <div  class="bg-primary" style="height: 50px; margin: 0;">
                            <div class="col-md-10">
                                TOP HEADER     </div>
                            <div class="col-md-2 fb-login-button" data-max-rows="4" data-size="xlarge" data-show-faces="false" data-auto-logout-link="true"
                                 scope="public_profile,email" onlogin="test()"></div>
                        </div>
                    </div>
                </div>
                <!--HEADER                        -->
            </div>
            <div class="row">
                <!--NAVIGATION-->
                <nav class="col-md-2" ng-controller="navigationController"  style="padding: 1em; border: 1px solid black">
                    <ul class="nav nav-pills nav-stacked ">
                        <li ng-class="{ active: isActive('/test')}"><a href="#/test">TEST</a></li>
                        <li ng-class="{ active: isActive('/home')}"><a href="#/home">HOME</a></li>
                        <li ng-class="{ active: isActive('/login')}"><a href="#/login">LOGIN</a></li>
                        <li ng-class="{ active: isActive('/goals')}"><a href="#/goals">GOALS</a></li>
                        <li class="bg-danger done-true" ng-class="{ active: isActive('/habits')}"><a href="#/habits">HABITS</a></li>
                        <li class="bg-danger done-true" ng-class="{ active: isActive('/challenges')}"><a href="#/challenges">CHALLENGES</a></li>
                        <li class="bg-danger done-true" ng-class="{ active: isActive('/profile')}"><a href="#/profile">PROFILE</a></li>
                    </ul>
                </nav>
                <!--NAVIGATION-->
                <div class="col-md-9" id="view" ng-view style="border: 2px solid red;" >
                </div>
                <div class="col-md-1" id="adv" style ="background-color: #fbb450; height: 100%; border: 1px solid black;">
                    Advertise banners
                </div>
                <!--                FOOTER-->
                <div class="row">
                    <footer  class="col-md-12 bg-info" style =" height: 50px; padding: 50px;">
                        <a href="mailto: om.alex@hotmail.com">Email to developers: </a>
                    </footer>
                </div><!--FOOTER-->
            </div>    
        </div>
    <!-- CACHE FILE: list.html -->
    <script type="text/ng-template" id="list.html">
      <input type="text" ng-model="search" class="search-query" placeholder="Search">
      <table>
        <thead>
        <tr>
          <th>Project</th>
          <th>Description</th>
          <th><a href="#/new"><i class="icon-plus-sign"></i>New</a></th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="project in projects | filter:search | orderBy:'name'" ng-show="project._id.$oid">
          <td><a href="{{project.site}}" target="_blank">{{project.name}}</a></td>
          <td>{{project.description}}</td>
          <td>
            <a href="#/edit/{{project._id.$oid}}"><i class="icon-pencil"></i>EDIT</a>
          </td>
        </tr>
        </tbody>
      </table>
    </script>
  
  
  <!--
    <!-- CACHE FILE: detail.html -->
    <script type="text/ng-template" id="detail.html">
      <form name="myForm">
        <div class="control-group" ng-class="{error: myForm.name.$invalid}">
          <label>Name</label>
          <input type="text" name="name" ng-model="project.name" required>
          <span ng-show="myForm.name.$error.required" class="help-inline">
              Required</span>
        </div>
      
        <div class="control-group" ng-class="{error: myForm.site.$invalid}">
          <label>Website</label>
          <input type="url" name="site" ng-model="project.site" required>
          <span ng-show="myForm.site.$error.required" class="help-inline">
              Required</span>
          <span ng-show="myForm.site.$error.url" class="help-inline">
              Not a URL</span>
        </div>
      
        <label>Description</label>
        <textarea name="description" ng-model="project.description"></textarea>
      
        <br>
        <a href="#/" class="btn">Cancel</a>
        <button ng-click="save()" ng-disabled="isClean() || myForm.$invalid"
                class="btn btn-primary">Save</button>
        <button ng-click="destroy()"
                ng-show="project._id" class="btn btn-danger">Delete</button>
      </form>
    </script>
    </body>
</html>