.done-true{
    text-decoration: line-through;
    color: grey;
}

.done {
    background-color: green;
    border: 1px solid black;
    width:30px; height: 30px; margin: 2px;
}

.notdone {
    background-color: red;
    border: 1px solid black;
    width:30px; height: 30px; margin: 2px;
}