<div>
    <div>
        <div class="panel panel-default" style="margin: 0">
            <div class="panel-heading bg-info">
                <h2 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordion" data-target="#collapse{{type}}">Tasks for this {{type}}:
                        {{periodNumber}}
                    </a>
                </h2>
            </div>
            <div id="collapse{{type}}" class="panel-collapse in">
                <div class="panel-body row" >
                    <div class="col-md-4">
                        <span>Tasks for {{type}} # </span>
                        <input type='number' size='4' min="0" max='53' />
                    </div>
                    <div class="col-md-4">
                        <span>Total Load: {{calculateTotalCosts()}}</span>  
                    </div>
                    <div class="col-md-4"> 
                        <span>Earned:         {{calculateTotalCostsActual()}}</span>
                    </div>
                </div>
                <div class='row'>
                    <span class="col-md-8">Name</span>
                    <span class="col-md-2">Working on</span>
                    <span class="col-md-2">Done</span>
                </div>
                <div>
                    <div ng-repeat="item in data">
                        <task source="item"></task>
                    </div>
                    <div class="row">  
                        <button class="col-md-12 btn bg-primary" style=" height: 50px;" ng-click="openAddGoalDialog()">
                            <i class="icon-plus"></i>Add</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>