<nav ng-controller="NavigationController"  style="margin-left: -90px;width:100px; float: left;">
<ul class="nav nav-pills nav-stacked ">
  <li ng-class="{ active: isActive('/home')}"><a href="#/home">Home</a></li>
  <li ng-class="{ active: isActive('/profile')}"><a href="#/profile">Profile</a></li>
  <li ng-class="{ active: isActive('/login')}"><a href="#/login">Login</a></li>
  <li ng-class="{ active: isActive('/plans')}"><a href="#/plans">Plans</a></li>
  <li ng-class="{ active: isActive('/habits')}"><a href="#/habits">Habits</a></li>
          <li><a ng-click='logout()' href='#'>Logout</a></li>

<!--  <li><a href="#/">Competition</a></li>
  <li><a href="#">Edit user profile</a></li>
  <li><a href="#">Term</a></li>
  <li><a href="#">Contact us</a></li>
  <li><a href="#">Main page</a></li>-->
</ul>
    
    
</nav>