<div>
    <div class="panel panel-default" style="margin: 0">
        <div class="panel-heading bg-info">
            <h2 class="panel-title">
                <a data-toggle="collapse" data-parent="#accordion" data-target="#collapse{{type}}">Tasks for this {{type}}:
                    {{periodNumber}}
                </a>
                <div ng-model="goal_selected"></div>
            </h2>
        </div>
        <div id="collapse{{type}}" class="panel-collapse in">
            <div class="panel-body row" >
                <div class="col-md-4">
                    <span>Tasks for {{type}} # </span>
                    <input type='number' size='1' ng-model="periodNumber" />
                </div>
                <div class="col-md-4">
                    <span>Total Load: {{calculateTotalCosts(goals)}}</span>  
                </div>
                <div class="col-md-4"> 
                    <span>Earned:         {{calculateTotalCostsActual(goals)}}</span>
                </div>
            </div>
            <table class="table table-striped">
                <thead><tr>
                        <th style='width:70%'>Name</th>
                        <th>Working on</th>
                        <th>Done</th>
                        <th></th>
                    </tr></thead>
                <tbody>
                    <tr ng-repeat="task in goals | goalsFilter : type : periodNumber : goal_selected" class="alert alert-info task"
                        ng-class="{'done' : task.done, 'selected': task.active}" ng-show="task.name">
                        <td style='width:70%' ng-click="openTaskDialog(task)">
                            {{task.name}}
                        </td>
                        <td class=""><input type="checkbox" ng-model="task.active" ng-change="selectGoal(task)">
                        </td>
                        <td class=""><input type="checkbox" ng-change="doneDiag(task)" ng-model="task.done" >
                        </td>
                        <td>                                <button ng-hide="{{task.type=='week'}}" class="bg-primary"  ng-click="openAddGoalDialogChild(task)">
                                <i class="glyphicon glyphicon-plus-sign"></i></button>
                        </td>

                    </tr>
                    <tr>
                        <td colspan="3">
                            <button class="col-sm-12 alert bg-primary" ng-click="openAddGoalDialog(type)">
                                <i class="icon-plus"></i>Add</button>
                        </td></tr>
                </tbody>
            </table>
        </div>
    </div>
</div>