<div class='container-fluid' >
    <div class="panel-group row" id="accordion">
        <!-- ----------------------------WEEK------------------------------>
        <!-- ----------------------------WEEK------------------------------>
        <!-- ----------------------------WEEK------------------------------>
        <div class="panel panel-default col-md-4" style="margin: 0">
            <div class="panel-heading bg-info">
                <h2 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordion" data-target="#collapseWeek">Tasks for this week:
                    </a>
                </h2>
            </div>
            <div id="collapseWeek" class>
                <div class="panel-body row" >
                    <div class="col-md-4">
                        <span>Tasks for Week # </span>
                        <input type='number' size='4' min="0" max='53' ng-model='currentWeek'/>
                    </div>
                    <div class="col-md-4">
                        <span>Total Load: {{calculateTotalCosts()}}</span>  
                    </div>
                    <div class="col-md-4"> 
                        <span>Earned:         {{calculateTotalCostsActual()}}</span>
                    </div>
                </div>
                <div class='row'>
                    <span class="col-md-8">Name</span>
                    <span class="col-md-2">Working on</span>
                    <span class="col-md-2">Done</span>
                </div>
                <div>
                    <ul class="unstyled list-group" >
                        <li class="list-group-item" ng-repeat="weekGoal in weekGoals| filter : {week : currentWeek}:true" >
                            <div class="row">
                                <div class="bg-warning task col-md-8 
                                     working-{{weekGoal.active}}
                                     done-{{weekGoal.done}}"
                                     ng-click="OpenExistingWeekGoal(weekGoal.id)" data-id='{{weekGoal.id}}'>
                                    <span class="" >{{weekGoal.name}}</span> 
                                </div>
                                <input type="checkbox" ng-model="weekGoal.active" ng-click="CurrentlyWorking()" class='col-md-2'>
                                <input type="checkbox" ng-model="weekGoal.done" class='col-md-2'>
                            </div>
                        </li>
                    </ul>
                    <div class="row">  
                        <button class="col-md-12 btn bg-primary" style=" height: 50px;" ng-click="openAddWeekDialog()">
                            <i class="icon-plus"></i>Add</button>
                    </div>
                </div>
            </div>
        </div>
        <!--EOF ----------------------------WEEK------------------------------>
        <!--EOF ----------------------------WEEK------------------------------>
        <!--EOF ----------------------------WEEK------------------------------>

        <!-------------------YEAR-------------->
    </div>
</div>