<div id="header" class="row bg-primary" >
    <div class="topbar" >
        <div class="fill">
            <div class="row">
                <div class="col-md-4 center-block">
                    <div>
                        <img src="./img/logo2.jpg" alt="logo" style="margin-left:5px;" height="105px"  /></div>                               
                </div>
                <div class="col-md-3 icon-row">
                    <div class="alert alert-success" role="alert"  ng-show='online'>
                        <button type="button" class="close" data-dismiss="alert" style="height: 1px;">&times;</button>
                        <span>Status: online</span></div>
                    <div class="alert alert-danger" role="alert"  ng-hide='online'>
                        <button type="button" class="close" data-dismiss="alert">&times;</button>
                        <span style="margin-left: 30px;">Status: offline</span></div>
                    <button type="button" class="btn btn-primary my_icon" title="menu" ng-click="navHideShow()">
                        <span class="glyphicon glyphicon-list" ></span>
                    </button>
                    <button ng-show="canAccess('/home')" type="button" class="btn btn-primary" title="home" ng-click="goHome()">
                        <span class="glyphicon glyphicon-home"></span>
                    </button>
                    <button ng-show="canAccess('/profile')" type="button" class="btn btn-primary" title="profile" ng-click="goProfile()">
                        <span class="glyphicon glyphicon-user"></span>
                    </button>
                    <button ng-show="canAccess('/goals')" type="button" class="btn btn-primary" title="Goals section" ng-click="goGoals()">
                        <span class="glyphicon glyphicon-check"></span>
                    </button><button ng-show="canAccess('/tc')"type="button" class="btn btn-primary" title="About the app" ng-click="goOath()">
                        <span class="glyphicon glyphicon-info-sign"></span>
                    </button>
                    <button ng-show="canAccess('/feedback')"type="button" class="btn btn-primary" title="feedback" ng-click="goFeedback()">
                        <span class="glyphicon glyphicon-envelope"></span>
                    </button>
                    <button type="button" class="btn btn-primary" title="hide menu" ng-click="taskHideShow()">
                        <span class="glyphicon glyphicon-chevron-down"></span>
                    </button>
                </div>
                <div class="col-md-4">
                    <custom-login1></custom-login1>

                </div>
                <div class="col-md-1">
                    <div class="fb-login-button" style="margin:10px 0" data-auto-logout-link="true" data-max-rows="1" data-size="xlarge" data-show-faces="false" ></div>
                </div>
            </div>
        </div>
    </div>
</div>