<div id='custom_login'>
    <div ng-show="{{session.status === 'connected'}}">
        <div ng-show='user' ng-model="user">Hi, {{user.name}}
            <img src="{{user.picture.data.url}}" id="profile_picture" />
        </div>
    </div>
    <div ng-show="{{session.status !== 'connected'}}">
        <div>
            <button type='button' style="width:800px; height:200px;" class="btn btn-primary" ng-click='fblogin()' name='fblogin'>Login with Facebook</button>
        </div>
    </div>
</div>
