<!DOCTYPE html>
<html lang='en' ng-app="better-you" ng-controller="mainController">
    <head>
        <title>Service to Improve your life</title>
        <!--  JQUERY-->
        <!--        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
                <script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.11.0/jquery-ui.min.js"></script>
                <link rel="stylesheet" href="//ajax.googleapis.com/ajax/libs/jqueryui/1.11.0/themes/smoothness/jquery-ui.css" />-->
        <script src="js/external/jquery/jquery.min.js"></script>
        <script src="js/external/jquery/jquery-ui.min.js"></script>
        <link rel="stylesheet" href="js/external/jquery/jquery-ui.css" />
        <!--ANGULARJS-->
        <script src="js/external/angularjs/angular.min.js"></script>
        <script src="js/external/angularjs/angular-animate.min.js"></script>
        <script src="js/external/angularjs/angular-resource.min.js"></script>
        <script src="/js/external/angularjs/ui-bootstrap-tpls-0.2.0.js"></script>
        <script src="js/external/angularjs/angular-cookies.js"></script>
        <script src="js/external/angularjs/angular-route.min.js"></script>
        
        <!--BOOTSTRAP-->
        <link rel="stylesheet" href="js/external/bootstrap/css/bootstrap.min.css">
        <link rel="stylesheet" href="js/external/bootstrap/css/bootstrap-theme.min.css">
        <script src="js/external/bootstrap/js/bootstrap.min.js"></script>
        <!--CUSTOM RESOURCES                 -->

        <link rel="stylesheet" href="css/general-css.css">
        <script type="text/javascript" src="modules/slider/slider.js"></script>	

        <script src="main.js"></script>
        <!--        CONTROLLERS-->
        <script src="modules/general/general-controller.js"></script>
        <script src="modules/habits/habits-controller.js"></script>
        <script src="modules/goals/goals-controller.js"></script>
        <script src="modules/challenges/challenges-controller.js"></script>
        <script src="services.js"></script>
        <script src="filters.js"></script>

        <script src="modules/general/directives/directives-controller.js"></script>
        <script src="js/ngDialog.min.js"></script>   
        <link rel="stylesheet" href="css/ngDialog/ngDialog.min.css" />
        <link rel="stylesheet" href="css/ngDialog/ngDialog-theme-default.min.css" />

        <script src="js/loading-bar/loading-bar.js"></script>   
        <link rel="stylesheet" href="js/loading-bar/loading-bar.css" />

        <!--        INITIAL BOOTSTRAP FOR A PAGE-->
        <meta name="viewport" content="width=device-width, initial-scale=1">

    </head>
    <body>
        <div id="wrapper">
            <div id="fb-root"></div>
            <script type="text/javascript" src="//connect.facebook.net/en_US/sdk.js#appId=1526114560951318&xfbml=1&version=v2.0&status=1"></script>	
            <!--        <script src="api/en_US/sdk.js"></script>-->
            <div class="container-fluid">
                <div class="row" style="height: 20px;">
                </div>
                <div ng-view></div>

                <div>
                    <div ng-show="error" class="alert alert-link" id="status-message" ng-model="message">
                        <button type="button" class="close" data-dismiss="alert">&times;</button>
                        {{message}}</div>
                    <div ng-show="error" class="alert alert-danger" id="status-error" ng-model="error">
                        <button type="button" class="close" data-dismiss="alert">&times;</button>
                        {{error}}</div>
                </div>
            </div>
        </div>
    </body>
</html>