<login></login>
<custom-navigation></custom-navigation>
<div>
    <div style='border: 5px solid black; position: relative; float: right; margin: 5px 20px 0 0; width: 500px'>
        Open Habit
        <date-box name="'Alex'">
        </date-box>
        <table> 
            <tr><th></th><th></th></tr>
            <tr><td><span>Habit</span> </td><td><input type='text' ng-model='Habit.name' value ='{{Habit.name}}' /></td>
            <tr><td><span>Your award</span></td><td> <input type='text' ng-model='Habit.award' value ='{{Habit.award}}' /></td></tr>
            <tr><td>Penalty <br>(if not succeed)</td><td><input type='text' ng-model='Habit.penalty' value ='{{Habit.penalty}}' /></td></tr>
        </table>


        <select ng-model='numberOfDays' required>
            <option value=''>---Select---</option>
            <option ng-repeat="type in types" value="{{type.type}}" ng-selected="'42' === type.type">
                {{type.type}} 
            </option>
        </select>
        <br>
        Duration: {{numberOfDays}}
        <br>
        <div style='margin:20px 10px 10px 10px'>
            <input type="date" ng-model="Habit.startDate" value="{{Habit.startDate}}">
            <p>Start Date: {{Habit.startDate| date: "dd-MM-yyyy"}}</p>
            <p>Date Finish: {{dateFinish(Habit.startDate, numberOfDays) | date: "dd-MM-yyyy"}}</p>
            <p>Day Now: {{calculateCurrent(Habit.startDate)}}</p>
            <p>Complete: {{percentComplete(Habit.startDate, numberOfDays)}} %</p>
        </div>

        <div class="progress">
            <div class="progress-bar progress-bar-striped active"  role="progressbar" aria-valuenow="{{percentComplete(Habit.startDate, numberOfDays)}}" aria-valuemin="0" aria-valuemax="100" style="width: {{percentComplete(Habit.startDate, numberOfDays)}}%">
                <span class="sr-only">{{percentComplete(Habit.startDate, numberOfDays)}}% Complete</span>
            </div>
        </div>
        <button class="btn" ng-click="addHabit()"> <i class="icon-plus"></i>Add to the list of habits</button>
    </div>

</div>




<div style='width:500px; border: 2px solid black;padding:5px;'> 
    <h1>App to develop good habits</h1>
    <div>
        <table >
            <thead>
                <tr><th colspan="4">List of habits</th></tr>
            </thead>
            <tbody>
                <tr><th>#</th><th>Name</th><th>Start Date</th><th>End Date</th></tr>
                <tr ng-repeat="habit in habitList">
                    <td style='padding: 1px; border: 1px solid black; '>{{habit.Habit.id}} </td>
                    <td style='padding: 1px; border: 1px solid black;'>
                        <a href="#/habits/{{habit.Habit.id}}">


                            {{habit.Habit.name}} </a></td>
                    <td style='padding: 1px; border: 1px solid black;'>{{habit.Habit.startDate| date:"dd-MM-yyyy"}}</td>
                    <td style=' padding: 1px; border: 1px solid black;'>{{habit.Habit.endDate| date:"dd-MM-yyyy"}}</td>
                    <td style=' padding: 1px; border: 1px solid black;'>
                        <span style='margin: 4px; display: block;'>{{percentComplete(habit.Habit.startDate, habit.Habit.type)}}%</span>

                        <div class="progress" style='width:100px;'>
                            <div class="progress-bar progress-bar-striped active"  role="progressbar" aria-valuenow="{{percentComplete(habit.Habit.startDate, habit.Habit.type)}}" aria-valuemin="0" aria-valuemax="100" style="width: {{percentComplete(habit.Habit.startDate, habit.Habit.type)}}%">
                                <span class="sr-only">{{percentComplete(habit.Habit.startDate, habit.Habit.type)}}% Complete</span>
                            </div>
                        </div>
                        <div ng-repeat="day in habit.Habit.days" style="display:inline" ng-class="{'done': day.done, 'notdone': !day.done}">
                            <habit-day day="day.day.getDate()"></habit-day>
                        </div>
                        <br><br>
                        </div>
                        </div>

                    </td>
                    <td style=' padding: 1px; border: 1px solid black;'>
                        <button class="btn btn-danger" ng-click="resetHabit()"><i class="icon-repeat"></i>Reset</button>
                    </td>
                    <td>
                        <input type="checkbox" ng-model="habit.Habit.active"  ng-click="habitComplete(habit.Habit.id)" >{{habit.Habit.active}}  
                    </td>
                </tr>
            </tbody>
        </table>
        <br>

        <br><br>

        <ul>
            <li><a href='#home'>back home</a></li>
            <li><a ng-click='logout()' href='#'>Logout</a></li>
        </ul>
    </div>
</div>
<custom-footer></custom-footer>
