<login></login><div>
    <div style='border: 5px solid black; position: relative;  margin: 20px 20px 0 0; width: 500px'>
    Habit Page
        <table>
            <tr><th></th><th></th></tr>
            <tr><td><span>ID</span> </td><td><input type='text' ng-model='HabitOpen' value ='{{HabitOpen}}' /></td>
            <tr><td><span>Habit</span> </td><td><input type='text' ng-model='getObjectById(HabitOpen).Habit.name' value ='{{getObjectById(HabitOpen).Habit.name}}' /></td>
            <tr><td><span>Your award</span></td><td> <input type='text' ng-model='getObjectById(HabitOpen).Habit.award' value ='{{getObjectById(HabitOpen).Habit.award}}' /></td></tr>
            <tr><td>Penalty <br>(if not succeed)</td><td><input type='text' ng-model='getObjectById(HabitOpen).Habit.penalty' value ='{{getObjectById(HabitOpen).Habit.penalty}}' /></td></tr>
        </table>
        
        
                <select ng-model='numberOfDays' required>
                    <option ng-repeat="type in types" value="{{type.type}}" ng-selected="getObjectById(HabitOpen).Habit.type === type.type">
            {{type.type}} 
          </option>
        </select>
        <br>
        Duration: {{numberOfDays}}
        <br>
        <div style='margin:20px 10px 10px 10px'>
            <input type="date" ng-model="getObjectById(HabitOpen).Habit.startDate" value="{{getObjectById(HabitOpen).Habit.startDate}}">
            <p>Start Date: {{getObjectById(HabitOpen).Habit.startDate | date: "dd-MM-yyyy"}}</p>
            <p>Date Finish: {{dateFinish(getObjectById(HabitOpen).Habit.startDate, getObjectById(HabitOpen).Habit.type) | date: "dd-MM-yyyy"}}</p>
            <p>Day Now: {{calculateCurrent(getObjectById(HabitOpen).Habit.startDate)}}</p>
            <p>Complete: {{percentComplete(getObjectById(HabitOpen).Habit.startDate, getObjectById(HabitOpen).Habit.type)}} %</p>
        </div>
   
<div class="progress">
  <div class="progress-bar progress-bar-striped active"  role="progressbar" aria-valuenow="{{percentComplete(Habit.startDate, numberOfDays)}}" aria-valuemin="0" aria-valuemax="100" style="width: {{percentComplete(Habit.startDate, numberOfDays)}}%">
    <span class="sr-only">{{percentComplete(Habit.startDate, numberOfDays)}}% Complete</span>
  </div>
</div>

    <button class="btn btn-danger" ng-click="resetHabit()"><i class="icon-repeat"></i>Reset</button>
     <button class="btn" ng-click="addHabit()"> <i class="icon-plus"></i>Add to the list of habits</button>
    </div>

</div>
