<login></login>
<custom-navigation></custom-navigation>
////
<div>
    <style>
        .motivation {
            width: 640px;
            background-color: #f5f5f5;
            border: 1px solid #f0f0f0;
            margin: 1em;
        }
        .motivation > * {
            margin: 1em 10em 1em 2em;
        }
    </style>


</div>
///

<div>
    <img src="img/homer.jpg" alt="Smiley face" height="200" width="200" />
</div>
<div>Details
    <div ng-model="userId"><h1>Hello '{{credentials.username}}'</h1></div>
    <div style='border: 1px solid black; width: 300px;'>
        <button class="btn" ng-click="getUser()">Get User Details</button><br>
        <span ng-model="user.firstName">First Name: {{user.firstName}}</span><br>
        <span ng-model="user.lastName">Last Name: {{user.lastName}}</span><br>
        <span ng-model="user.username">Username: {{user.username}}</span><br>
        <span ng-model="user.rights">Rights: {{user.role}}</span><br>
        <span ng-model="user.status">Status: {{user.status}}</span><br>
        <hr>
        <span ng-model="user.score">Score: {{user.score}}</span><br>
    </div>
</div>
<div>progress bars</div>
<div>MOTIVATION
    <div class="motivation">
        <span>LEVEL 1: Physical</span>
        <div ui-slider min="0" max="10" ng-model="physicalBar"></div>
        <input type="text" ng-model="physicalBar" />	
    </div>
    <div class="motivation">LEVEL 2: Emotional	
        <div ui-slider min="0" max="10" ng-model="emotionalBar"></div>
        <input type="text" ng-model="emotionalBar" />	
    </div>
    <div class="motivation">LEVEL 3: Plan	
        <div ui-slider min="0" max="10" ng-model="planBar"></div>
        <input type="text" ng-model="planBar" />	
    </div>
    <div class="motivation">LEVEL 4: Ideology
        <div ui-slider min="0" max="10" ng-model="ideaBar"></div>
        <input type="text" ng-model="ideaBar" />	
    </div >
</div>


<div>        <a ng-click='logout()' href='#'>Logout</a>
</div>
<div>         <a href='#home'>back home</a>

</div>

<custom-footer></custom-footer>
